* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.country-info {
    display: flex;
    height: 100vh;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    
}

.flex p {
    margin-left: 15px;
}

.input {
    display: flex;
    align-items: center;
}

.input_text {
    display: block;
    padding: .25em;
    width: 100%;
    font-size: 14pt;
}

/* button */
#submit {
	background-color:#fff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 32px;
	text-decoration:none;
}
#submit:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
#submit:active {
	position:relative;
	top:1px;
}

/* video */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


@media (max-width: 330px) {
.input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    }

}